<!DOCTYPE html>
<html>

<head>
  <title>
    Email Responder
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <h2 class="mt-5">
      Email Responder
      </h1>
      <p>
        Email Responder is a lightweight demo application built with <i>Node.js</i> and
        <i>KaibanJS</i>. It simulates an email autoresponder that classifies email content and
        automatically generates replies based on sentiment, intent, and area.
      </p>

      <h4 class="mt-5">Gmail</h4>
      <% if (!authenticated) { %>
        <p>
          Click the button below to connect to your Gmail account.
        </p>
        <button class="btn btn-success" onclick="window.open('<%= authUrl %>', '_blank')">
          <i class="bi bi-google"></i>
          Pair
        </button>
        <% } else { %>
          <p>
            You are already connected to your Gmail account.<br>
            - Use <b>Unpair</b> to disconnect your account.<br>
            - Use <b>Respond</b> to respond to the last one unreaded email into your inbox.
          </p>

          <div class="d-flex gap-2">
            <button class="btn btn-danger" onclick="fetch('/revoke').then(() => window.location.reload())">
              <i class="bi bi-google"></i>
              Unpair
            </button>
            <button class="btn btn-success" hx-get="/autorespond-email" hx-indicator="#respond-indicator"
              hx-disable-elt="this">
              <i class="bi bi-send"></i>
              Respond
              <span id="respond-indicator" class="htmx-indicator spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
            </button>
          </div>
          <% } %>

            <div class="mt-5">
              <h4>Email</h4>
              <p>
                Respond to an email and classify it by Sentiment, Intent and Area.
              </p>
              <form hx-post="/process-email" hx-target="#result" hx-on::after-on-load="this.reset()"
                hx-indicator="#process-indicator" hx-disable-elt="#submit">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">
                    Email subject:
                  </label>
                  <input type="text" name="subject" class="form-control" id="exampleFormControlInput1" placeholder=""
                    required>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">
                    Email body:
                  </label>
                  <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="6"
                    required></textarea>
                </div>
                <button id="submit" class="btn btn-primary" type="submit">
                  <i class="bi bi-play"></i>
                  Process
                  <span id="process-indicator" class="htmx-indicator spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
                </button>
              </form>

              <div class="mt-5" id="result"></div>
            </div>
</body>

</html>